<% include ../partials/header %>
<div class="container">
    <h1> Add Skills for <%= user.name %></h1>
   
    <form action="/users/<%= user._id %>/skills" method="POST">
       Add Skill: <input type="text" name="user[name]" value="<%= user.name %>" > <br />
       
       
       
       
        Email: <input type="text" name="user[email]" value="<%= user.email%>"> <br />
        Department: <input type="text" name="user[department]" value="<%= user.department %>" > <br />
        Status: <input type="text" name="user[status]" value="<%= user.status%>" > <br />
        Title: <input type="text" name="user[title]" value="<%= user.title%>" > <br />
        Slack Username: <input type="text" name="user[slackId]" value="<%= user.slackId%>" > <br />
        <button class="btn btn-lg">Submit</button>
    </form>
    
    
    <form that will edit skill></form>
    