<% include partials/header %>
<div class = "container">
    <div class = "jumbotron">
        <h1>List of Users</h1>
    </div>

        <% users.forEach(function(user){ %>
           <li>
               <h3>
                   <a href="/users/<%=user._id%>"><%= user.name%></a>
               </h3> 
               <p>Email: <a href="/users/<%=user._id%>"><%= user.email %></a></p> 
               <p>Department: <%= user.department %></p>
               <p>Status: <%= user.status %></p>
               <p>Title: <%=user.title%></p>
               <p>Slack userID: <%=user.slackId%></p>
           </li>
        <% }); %>

<% include partials/footer %>
