<% include ../partials/header %>

<div class="page-header text-center text-info">
    <h1> Who Knows What?</h1>
</div>


<p class=" text-info">
      <form action="/users/<%= user._id %>?_method=PUT" method="POST">
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title"><%= user.name %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%= user.image %>" class="img-circle img-responsive"> </div>
		<div class="container">
	
		
			<div class=" col-md-4 col-lg-4 "> 
			  <table class="table table-user-information">
			    <tbody>
			    <div class="page-header text-center text-info">
    				<h1>EDIT</h1>
				</div>
				<td>Name:</td>
				<td><input type="text" name="user[name]" value="<%= user.name %>" ><br /></td>
			      </tr>
			      <tr>
				<td>Email Address:</td>
				<td><input type="text" name="user[email]" value="<%= user.email%>"><br /></td>
			      </tr>
			      <tr>
				<td>Image:</td>
				<td><input type="text" name="user[image]" value="<%= user.image%>"><br /></td>
			      </tr>
			       <tr>
				<td>Department:</td>
				<td><input type="text" name="user[department]" value="<%= user.department %>" > <br />
			      </tr>
			      <tr>
				<td>Status:</td>
				<td><input type="text" name="user[status]" value="<%= user.status%>" > <br /></td>
			      </tr>
			      <tr>
				<td>Title:</td>
				<td><input type="text" name="user[title]" value="<%= user.title%>" > <br /></td>
			      </tr>
			      <tr>
				<td>Slack Username</td>
				<td><input type="text" name="user[slackId]" value="<%= user.slackId%>" > <br />
			      </tr>
				<td>Rating</td>
				<td><input type="text" name="user[rating]" value="<%= user.rating%>" > <br />
			      </tr>
			    </tbody>
			  </table>
		<button class="btn btn-primary">Submit</button>
		</dev>
          </div>
        </div>
      </div>
    </div>
    </form>
                     <div class="panel-footer">
                        <a href="mailto:<%=user.email%>@indexexchange.com" data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="/users/<%=user._id%>/edit" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="https://who-knows-what-wardmin.c9users.io/users/<%=user._id%>" data-original-title="All Users" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-remove-circle"></i></a>
                        </span>
                    </div>
</div>
<% include ../partials/footer %>


    