<% include partials/header %>


<div class="page-header text-center text-info">
    <h1> Who Knows What?</h1>
</div>


<p class=" text-info"></p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad" >
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title text-info"><%= user.name %></h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="<%= user.image %>" class="img-circle img-responsive"> </div>
                <!--<div class="col-xs-10 col-sm-10 hidden-md hidden-lg"> <br>
                  <dl>
                    <dt>DEPARTMENT:</dt>
                    <dd>Administrator</dd>
                    <dt>HIRE DATE</dt>
                    <dd>11/12/2013</dd>
                    <dt>DATE OF BIRTH</dt>
                       <dd>11/12/2013</dd>
                    <dt>GENDER</dt>
                    <dd>Male</dd>
                  </dl>
                </div>-->
                <div class=" col-md-9 col-lg-9 "> 
                  <table class="table table-user-information">
                    <tbody>
                      <tr>
                        <td>Name:</td>
                        <td><%= user.name %></td>
                      </tr>
                      <tr>
                        <td>Email Address:</td>
                        <td><%=user.email%></td>
                      </tr>
                      <tr>
                        <td>Department:</td>
                        <td><%=user.department%></td>
                      </tr>
                      <tr>
                        <td>Status:</td>
                        <td><%=user.status%></td>
                      </tr>
                      <tr>
                        <td>Title:</td>
                        <td><%=user.title%></td>
                      </tr>
                      <tr>
                        <td>Slack Username:</td>
                        <td><%=user.slackId%></td>
                      </tr>
                    </tbody>
                  </table>
        
        <h3>Skills:</h3>
        <% user.skills.forEach(function(skill){ %>
                  
          <p>
            <%= skill.name %> &ndash; Level: <%= skill.level %> <br />
          </p>
          <% }); %>
        
        <a href="/users/<%=user._id%>/skills/new">edit skills</a>
        
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a href="mailto:<%=user.email%>@indexexchange.com" data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <a href="/users/<%=user._id%>/edit" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a href="https://who-knows-what-wardmin.c9users.io/users" data-original-title="All Users" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-user"></i></a>
                        </span>
                    </div>
          </div>
        </div>
      </div>
    </div>
    
</div>
<% include partials/footer %>